@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.grid{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 90%;
}

.cabecera{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1/3;
    grid-row: 1/2;
    font-family: 'Montserrat', sans-serif;
}

.logo img{
    margin-left: 19px;
    width: 199px;
    height: 51px;
}

.info_usuario{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 21%;
}

.info_usuario p{
  font-size: 14px;
  color: #697075;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 35px;
  
}

.info_usuario img{
    width: 36px;
    height: 36px;
}

.nav{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #6A737C;
    display: flex;
    flex-direction: column;
}

.lista{
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.lista li a{
    text-decoration: none;
    color: #F2F2F3;
    display: inline-block;
    padding: 15px 15px;
    line-height: normal;
    border-bottom: 2px solid transparent;
}

.activa{
    background-color: #C8CCD0;
    color: black;
    border-bottom: 2px solid transparent;
    width: 100%;
}


.grid2{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 12% 20% 63% 5%;
    background-color: #F4F4F4;
}

.contenedor1{
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    margin-left: 22px;
    margin-right: 22px;
    align-items: center;
}



.contenedor1 p{
    font-family: 'Montserrat', sans-serif;
top: 85px;
left: 275px;
width: 225px;
height: 19px;
text-align: left;
letter-spacing: 0px;
color: #555555;
font-weight: bold;
opacity: 1;
}

.parrafos{
    grid-row: 1/2;
    display: flex;
    justify-content: flex-start;
    margin-left: 22px;
    margin-right: 22px;
    align-items: center;
}
.blue{
    margin-left: 12px;
    margin-top: 12px;
    color: #009CDE;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.normal{
    margin-left: 12px;
    margin-top: 12px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.btn-1{
    cursor: pointer;
    margin-right: 11px;
    top: 161px;
left: 991px;
height: 35px;
width: 164px;
background: #009CDE 0% 0% no-repeat padding-box;
border-radius: 5px;
border: none;
opacity: 1;
color: #FCFCFC;
}

.formulario{ 
    height: 72%;
    background-color: #FFFFFF;
    margin-left: 3%;
    margin-right: 3%;
    grid-row: 2/3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;

    align-items: center;
}

.formulario2{ 
    background-color: #FFFFFF;
    height: 82%;
    margin-left: 3%;
    margin-right: 3%;
    grid-row: 2/3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.formulario2 p{
    font-size: 18px;
    margin-left: 9px;
    margin-top: 9px;
    color: #009CDE;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.form1{
    margin-left: 4px;
    margin-top: 4px;
    width: 81%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.form2{
    margin-left: 4px;
    margin-top: 4px;
    width: 61%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.form3{
    margin-left: 4px;
    margin-top: 4px;
    width: 71%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.campo {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    font-size: 14px;
    margin-bottom: 4px;
    font-family: 'Montserrat', sans-serif;
    color: #545454;
}

.pequeno{
    top: 161px;
left: 295px;
width: 71px;
height: 35px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #9FA6AD;
border-radius: 3px;
opacity: 1;
color: #6A737C;
}

.mediano{
    top: 161px;
    color: #6A737C;
left: 730px;
width: 245px;
height: 35px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #9FA6AD;
border-radius: 3px;
opacity: 1;
}

.btn-primario{
    cursor: pointer;
    top: 161px;
left: 991px;
width: 80px;
height: 35px;
background: #009CDE 0% 0% no-repeat padding-box;
border-radius: 5px;
border: none;
opacity: 1;
color: #FCFCFC;
}

.limpiar{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-self: center;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0px;
    color: #009CDE;
    opacity: 1;
    font-weight: bold;
}

.resultados{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: 3%;
    margin-right: 3%;
    grid-row: 3/4;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}

.resultados2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    margin-left: 3%;
    margin-right: 3%;
    grid-row: 3/4;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
}

.resultados p{
    height: 4%;
    align-self: center;
    font:  18px/20px;
    font-family: 'Montserrat', sans-serif;
    color: #555555;
    margin-left: 11px;
    margin-top: 11px;
    font-weight: bold;

}

table {
    border-collapse: collapse;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
  }
  .tabla2 {
    border-collapse: collapse;
    margin-top: 1%;
    margin-right: 2%;
    margin-left: 2%;
    width: 96%;
  }

  th, td {
    padding: 8px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  th {
    background-color: #016691;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
    

.manipulador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.f3{
    top: 455px;
left: 963px;
width: 131px;
height: 35px;
border: 1px solid var(--black-300-9fa6ad);
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #9FA6AD;
border-radius: 3px;
opacity: 1;
}

option{
    top: 464px;
left: 973px;
width: 61px;
height: 18px;
text-align: left;
font: normal normal normal 14px/18px Montserrat;
letter-spacing: 0px;
color: #6A737C;
opacity: 1;
}

input{
    top: 455px;
left: 1171px;
width: 133px;
height: 35px;
background: #FFFFFF 0% 0% no-repeat padding-box;
border: 1px solid #9FA6AD;
color: #6A737C;
border-radius: 3px;
opacity: 1;
}

.icono1, .icono2{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 1px solid #555555;
    border-radius: 5px;
    opacity: 1;
}

.manipulador img{
    width: 18px;
    height: 18px;
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-contenido {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.cerrar {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: #aaa;
    text-decoration: none;
    cursor: pointer;
}

.usuario_info {
    text-align: center;
}

.usuario_info img {
    width: 100px; /* Establece el tamaño de la imagen según tu preferencia */
    height: 100px; /* Establece el tamaño de la imagen según tu preferencia */
    border-radius: 50%; /* Crea un borde redondeado para la imagen */
    margin-bottom: 10px; /* Espacio entre la imagen y el nombre del usuario */
}